<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <queries>
        <package android:name="com.android.contacts" />
        <package android:name="com.android.deskclock" />
        <package android:name="com.android.documentsui" />
        <package android:name="com.android.mms" />
        <package android:name="com.android.packageinstaller" />
        <package android:name="com.android.server.telecom" />
        <package android:name="com.android.settings" />
        <package android:name="com.android.soundrecorder" />
        <package android:name="com.android.systemui" />
        <package android:name="com.hihonor.KoBackup" />
        <package android:name="com.hihonor.android.dsdscardmanager" />
        <package android:name="com.hihonor.android.instantshare" />
        <package android:name="com.hihonor.android.internal.app" />
        <package android:name="com.hihonor.android.launcher" />
        <package android:name="com.hihonor.android.thememanager" />
        <package android:name="com.hihonor.android.totemweather" />
        <package android:name="com.hihonor.appmarket" />
        <package android:name="com.hihonor.calculator" />
        <package android:name="com.hihonor.calendar" />
        <package android:name="com.hihonor.contacts" />
        <package android:name="com.hihonor.deskclock" />
        <package android:name="com.hihonor.devicemanager" />
        <package android:name="com.hihonor.filemanager" />
        <package android:name="com.hihonor.gameassistant" />
        <package android:name="com.hihonor.hidisk" />
        <package android:name="com.hihonor.hndockbar" />
        <package android:name="com.hihonor.hwvoipservice" />
        <package android:name="com.hihonor.intelligent" />
        <package android:name="com.hihonor.mms" />
        <package android:name="com.hihonor.motionservice" />
        <package android:name="com.hihonor.notepad" />
        <package android:name="com.hihonor.ouc" />
        <package android:name="com.hihonor.phone" />
        <package android:name="com.hihonor.phone.recorder" />
        <package android:name="com.hihonor.phoneservice" />
        <package android:name="com.hihonor.photos" />
        <package android:name="com.hihonor.scanner" />
        <package android:name="com.hihonor.smarthome" />
        <package android:name="com.hihonor.soundrecorder" />
        <package android:name="com.hihonor.systemmanager" />
        <package android:name="com.hihonor.wallet" />
        <package android:name="com.huawei.KoBackup" />
        <package android:name="com.huawei.android.dsdscardmanager" />
        <package android:name="com.huawei.android.hwouc" />
        <package android:name="com.huawei.android.instantshare" />
        <package android:name="com.huawei.android.internal.app" />
        <package android:name="com.huawei.android.launcher" />
        <package android:name="com.huawei.android.thememanager" />
        <package android:name="com.huawei.android.totemweather" />
        <package android:name="com.huawei.appmarket" />
        <package android:name="com.huawei.browser" />
        <package android:name="com.huawei.calculator" />
        <package android:name="com.huawei.calendar" />
        <package android:name="com.huawei.contacts" />
        <package android:name="com.huawei.deskclock" />
        <package android:name="com.huawei.filemanager" />
        <package android:name="com.huawei.gameassistant" />
        <package android:name="com.huawei.hidisk" />
        <package android:name="com.huawei.hwdockbar" />
        <package android:name="com.huawei.hwvoipservice" />
        <package android:name="com.huawei.meetime" />
        <package android:name="com.huawei.mms" />
        <package android:name="com.huawei.motionservice" />
        <package android:name="com.huawei.notepad" />
        <package android:name="com.huawei.phone" />
        <package android:name="com.huawei.phoneservice" />
        <package android:name="com.huawei.photos" />
        <package android:name="com.huawei.scanner" />
        <package android:name="com.huawei.smarthome" />
        <package android:name="com.huawei.soundrecorder" />
        <package android:name="com.huawei.systemmanager" />
        <package android:name="com.huawei.wallet" />
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.HwtThemeReceiver"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ReceiverService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
